body {
  font-family: AudiType;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/Page2-bg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.bg-image {
  width: auto;
}


.hero-section {
    height: 44px;
    width: 59px;
    align-items: right;
}
  
.header1 h2{
    float: center;
    height: 61px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.32px;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}


.subtext1 {
  position: relative;
  margin: 10px 10px 10px 10px;
  text-align: center;
  float: center;
  height: 66px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

.subtext1 p {
  display: inline-block;
  width: 600px;
}

.column1 {
 
}

.row1:after {

}

.column1 #input-address-name {

}
#input-address-name {
  padding: 5px;
  margin-bottom: 10px;
}

#input-address-street {
  padding: 5px;
  margin-bottom: 10px;
}

#input-address-city {
  padding: 5px;
  margin-bottom: 10px;
}

#input-address-state {
  padding: 5px;
  margin-bottom: 10px;
  margin-left: -95px;
}

#input-address-zip {
  padding: 5px;
  margin-bottom: 0px;
}

#input-address-email {
  padding: 5px;
  margin-bottom: 10px;
}

#input-address-phone {
  padding: 5px;
  margin-bottom: 10px;
}

#error-message{
  color: #ff0000;
  text-shadow: 2px 2px #000000;
}


/* Calculator Page */
.rectangle {
  height: auto;
  margin: 55.2px 63px 73.5px;
  padding: 59.5px 36px 11.5px 80px;
  opacity: 0.94;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
}

.row {
  text-align: left;
  padding-left: 60px;
}


.column {
  float: left;
  width: 50%;
}

.middlecol {
  width: 2%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}



.subheader h3 {
  width: 251px;
  margin: 0 43px 38px 0;
  font-family: AudiType Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

.select-section {
  font-family: AudiType, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: inherit;
}

#label {
width: 500px;
}

#output-savings {
margin-bottom: 20px;
}

#output-25years {
  margin-bottom: 20px;
  }

 #output-carbon {
    margin-bottom: 20px;
    }

#output-cost{
      margin-bottom: 20px;
      }

#output-tax-total {
        margin-bottom: 20px;
        }

#output-netcost {
          margin-bottom: 20px;
          }

#output-pvsize {
            margin-bottom: 20px;
            }

#button-email {
  margin-bottom: 50px;;
}


h4 {
  font-family: AudiType;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.37px;
  color: #4a4a4a;
}



#button-address-next {
  padding: 5px 25px 5px 25px;
  font-size: 16px;
}


/* Contact Page */


