body {
  background-image: url('/images/Bg-img-2.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
   }



.hero-section {
    height: 44px;
    width: 59px;
    align-items: right;
  }
  
.header1 h2{
 
    height: 61px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.32px;
    color: #ffffff;
}


.subtext1 {
display: inline-flex;
  overflow: wrap;
  position: relative;
  height: 66px;
  margin: 10px 37px 15px 38px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: center;
  color: #ffffff;
}

.subtext1 p {
  float: center;
width: 600px;
line-height: 1em;
color: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  .subtext1 p  {
    font-size: 2.5vw;
    width: auto;
  }
}


 

#div-section-address {
float: center;
margin-top: 50px;

}

#input-address-name {
  padding-bottom: 1em;
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-name:hover {
opacity:initial;
transition-duration: .5s;}



.column1 {
  float: right;
  width: 52%;

}

.column2 {
  float: right;
  width: 12%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}



@media screen and (max-width: 1610px) {
  .column1, input[type=submit] {
     width: 51%;
     margin-top: 0;
   }
 }

 @media screen and (max-width: 1610px) {
  .column2, input[type=submit] {
     width: 14%;
     margin-top: 0;
   }
 }

 @media screen and (max-width: 1410px) {
  .column1, input[type=submit] {
     width: 50%;
     margin-top: 0;
   }
 }

 @media screen and (max-width: 1410px) {
  .column2, input[type=submit] {
     width: 18%;
     margin-top: 0;
   }
 }

 @media screen and (max-width: 1130px) {
  .column1, input[type=submit] {
     width: 50%;
     margin-top: 0;
   }
 }

 @media screen and (max-width: 1130px) {
  .column2, input[type=submit] {
     width: 23%;
     margin-top: 0;
   }
 }


 @media screen and (max-width: 900px) {
  .column1, .column2, input[type=submit] {
    
    width: 100%;
     margin-top: 0;
   }
 }

 







@media screen and (max-width: 600px) {
 .column1, .column2, input[type=submit] {
    width: 100%;
    margin-top: 0;
    float: left;
  }
}





#input-address-street {
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-street:hover{
opacity:initial;
transition-duration: 0.5s;
}

#input-address-city {
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-city:hover {
  font-size: 16px;
opacity:initial;
transition-duration: 0.5s;
}

#input-address-state {
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-state:hover {
  opacity:initial;
  transition-duration: 0.5s;
  }

#input-address-zip {
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-zip:hover {
  opacity:initial;
  transition-duration: 0.5s;
  }


#input-address-email {
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-email:hover {
  opacity:initial;
  transition-duration: 0.5s;
  }

#input-address-phone {
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-phone:hover {
  opacity:initial;
  transition-duration: 0.5s;
  }

#button-address-next {
  color: rgb(0, 0, 0);
  background-color: white;
  font-size: 1.3vw;
  padding: 10px 28px 10px 28px;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
 
}

#button-address-next:hover{
  color: rgb(255, 255, 255);
  transition-duration: 0.5s; 
  background-color: rgb(115, 164, 197);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #button-address-next {
    font-size: 1em;
  }
}
  





/* Calculator Page */


.rectangle {

  margin: 55.2px 63px 73.5px;
  padding: 40px 36px 11.5px 30px;
  opacity: 0.94;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
}

.row {
  text-align: left;
  padding-left: 40px;
}

.column {
  position: relative;
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  

  }
}



.subheader h3 {
  width: 251px;
  margin: 0 30px 3px 0;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

.select-section {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: inherit;
}


#checkbox-rooftop {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

#div-form-rooftop {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#input-form-sqft {
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  border-radius: 3px;
  border-color:1px black;
}

#input-form-percentage {
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  border-radius: 3px;
  border-color:1px black;
}

#checkbox-canopies {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

#checkbox-chargers {
  height: 20px;
  width: 20px;
margin-right: 10px;
margin-bottom: 20px;
margin-left: 50px;
}

label {
  word-wrap: break-word;
}


* {
  box-sizing: border-box;
}

.inner-column1 {
  display: flex;
  flex-flow: column;
  float: left;
  width: 200px;
  padding: 10px 5px 0px 5px;
}

.inner-column2 {
  display: flex;
  flex-flow: column;
  float: left;
  width: 200px;
  padding: 10px 5px 0px 5px;
}

.inner-column3 {
  display: flex;
  flex-flow: column;
  float: left;
  width: 200px;
  padding: 10px 5px 0px 5px;
}

.inner-column4 {
  display: flex;
  flex-flow: column;
  float: left;
  width: 200px;
  padding: 10px 5px 0px 5px;
}

@media screen and (max-width: 1000px) {
.inner-column3, .inner-column4 {
  visibility: hidden;
} 
}

/* Clearfix (clear floats) */
.row2::after {
  display: flex;
  -ms-flex-flow: column;
  content: "";
  clear: both;
  display: table;
}




#output-savings {
  background-color: #f0f0f0;
  font-size: 16px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px;
}

#label {
width: 500px;
}


#output-25years  {
  background-color: #f0f0f0;
  font-size: 16px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px;
}

 #output-carbon  {
  background-color: #f0f0f0;
  font-size: 16px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px;
}

#output-cost  {
  background-color: #f0f0f0;
  font-size: 16px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px;
}

#output-tax-total  {
  background-color: #f0f0f0;
  font-size: 16px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px;
}

#output-netcost  {
  background-color: #f0f0f0;
  font-size: 16px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px;
}

#output-pvsize  {
  background-color: #f0f0f0;
  font-size: 16px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px;
}


.row2 {
  text-align: left; 
}

.small-column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .small-column {
    width: 100%;

  }
}

#button-print{
color:rgb(0, 0, 0);
padding: 6px 20px 6px 20px;
font-size: 10pt;
margin-left: -40px;
margin-bottom: 5px;
border-radius: 4px;
border: 1px;
}

#button-print:hover {
  transition-duration: 0.5s; 
  background-color: rgb(115, 164, 197);
  color: white;
  cursor: pointer;
}


#button-email {
  float: right;
  color:rgb(0, 0, 0);
  padding: 6px 20px 6px 20px;
  font-size: 10pt;
  margin-right: 80px;
  margin-bottom: 5px;
  border: 1px;
  border-radius: 4px;
}
#button-email:hover {
  transition-duration: 0.5s; 
  background-color: rgb(115, 164, 197);
  border-radius: 4px;
  padding: 6px 20px 6px 20px;
  color: white;
  cursor: pointer;
}

.p-thanks {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(240, 250, 255);
}


h4 {
  margin-top: 40px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.37px;
  color: #dadada;
}


#error-message {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 187, 0);
}

.footer-section {
 position: relative;
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  width: 100vw;
  height: 40px;
margin-left: -5px;
margin-bottom: -10px!important;
}






/* Contact Page */


.rectangle1 {
  height: auto;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 70px;
  opacity: 0.7;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
}


.rectangle, h7 {
  color: black;
  font-size: 1.3vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  word-wrap: break-word;
}


@media screen and (max-width:900px) {
  .rectangle1, h7 {
    font-size: 1em;
    
  }
}


@media screen and (max-width:900px) {
  .rectangle1 {
    float: left;
    width: 400px;
    
  }
}

@media screen and (max-width:600px) {
  .rectangle1 {
    margin-left: 100px;
    width: 300px;
    padding-bottom: 100px;
    
  }
}


@media screen and (max-width:600px) {
  .rectangle1 h7 {
    font-size: 1.5em;

  }
}


.contact-content{
  display: flexbox;
  background-color:#ffffff;
    text-align:center;
    padding:10px;
    margin-left:30vw;
    margin-right:30vw;
    border-radius: 4px;
    opacity: 0.7;
}

.logo {
float: center;
max-height: 60px;
padding: 0px;
}

.contact-content h5{
 line-height: 1.4em;
}


a:-webkit-any-link {
   text-decoration: none!important;
   color: black;
 }

 a:-webkit-any-link:hover {
   color: rgb(115, 164, 197);
   cursor: pointer;
 }


 @media screen and (max-width:1200px) {
   .contact-content {
     margin-top:300px;
     float: center;
   }
 }

 .renewvia-logo {
  opacity:1;
max-height: 40px;
float: left;
padding: 0px;
}
