body,html {
  background-repeat: no-repeat!important;
  background-size: cover;
  height: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.hero-section img {
  height: auto;
  width: 60px;
  float: left;
  margin-left: 0.5em;
  padding-top: 0.2em;
  align-items: right;
}

.header1 h2{
  display: inline-block;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.32px;
    color: #ffffff;
}


.subtext1 {
  display: inline-flex;
  overflow: wrap;
  position: relative;
  margin: 0px 37px 15px 38px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: center;
  color: #ffffff;

}

.subtext1 p {
  float: center;
  width: 650px;
  line-height: 1em;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  .subtext1 p  {
    font-size: 2.5vw;
    width: auto;
  }
}

#div-section-address {
  background-image: url('images/Bg-img-2.png');
  background-repeat: no-repeat!important;

}

#div-section-form {
  background-image: url('images/bg-img.png');
  background-repeat: no-repeat!important;
  
}

#div-section-thanks {
  background-image: url('images/bg-img.png');
  background-repeat: no-repeat!important;

}


#input-address-name {
  padding-bottom: 1em;
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-name:hover {
opacity:initial;
transition-duration: .5s;}


@media screen and (max-width: 400px) {
  #input-address-name {
  float:left;
  margin-left:40px;
  margin-bottom:10px;
  }
}



.column1 {
  float: right;
  width: 52%;

}

.column2 {
  float: right;
  width: 12%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}



@media screen and (max-width: 1610px) {
  .column1, input[type=submit] {
     width: 51%;
     margin-top: 0;
   }
 }

 @media screen and (max-width: 1610px) {
  .column2, input[type=submit] {
     width: 14%;
     margin-top: 0;
   }
 }

 @media screen and (max-width: 1410px) {
  .column1, input[type=submit] {
     width: 50%;
     margin-top: 0;
   }
 }

 @media screen and (max-width: 1410px) {
  .column2, input[type=submit] {
     width: 18%;
     margin-top: 0;
   }
 }

 @media screen and (max-width: 1130px) {
  .column1, input[type=submit] {
     width: 50%;
     margin-top: 0;
   }
 }

 @media screen and (max-width: 1130px) {
  .column2, input[type=submit] {
     width: 23%;
     margin-top: 0;
   }
 }


 @media screen and (max-width: 800px) {
  .column1, input[type=submit] {
    
    width: 50%;
     margin-top: 0;
   }
 }

 @media screen and (max-width: 800px) {
  .column2, input[type=submit] {
    
    width: 30%;
     margin-top: 0;
   }
 }


 @media screen and (max-width: 700px) {
  .column1,   .column2,input[type=submit] {
    width: auto;
    float: center;
     margin-top: 0;
     margin-left: 50px;
   }
 }



 @media screen and (max-width: 600px) {
  #input-address-name, input[type=submit] {
     width: 51.5%;
     margin-top: 0;
     float: left;
     margin-left: 90px;
   }
 }



@media screen and (max-width: 600px) {
 .column1, .column2, input[type=submit] {
    width: 100%;
    margin-top: 0;
    float: left;
  }
}



#input-address-street {
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-street:hover{
opacity:initial;
transition-duration: 0.5s;
}

#input-address-city {
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-city:hover {
  font-size: 16px;
opacity:initial;
transition-duration: 0.5s;
}

#input-address-state {
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-state:hover {
  opacity:initial;
  transition-duration: 0.5s;
  }

#input-address-zip {
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-zip:hover {
  opacity:initial;
  transition-duration: 0.5s;
  }


#input-address-email {
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-email:hover {
  opacity:initial;
  transition-duration: 0.5s;
  }

#input-address-phone {
  font-size: 1em;
  padding: 0.60em;
  border: 2px darkslategrey;
  margin-bottom: 0.5em;
  border-radius: 3px;
  opacity: 0.9;
}

#input-address-phone:hover {
  opacity:initial;
  transition-duration: 0.5s;
  }

#button-address-next {
  color: rgb(0, 0, 0);
  background-color: white;
  font-size: 1.3vw;
  padding: 10px 28px 10px 28px;
  border: 2px darkslategrey;
  margin-bottom: 3em;

  border-radius: 3px;
 float: center;
}

#button-address-next:hover{
  color: rgb(255, 255, 255);
  transition-duration: 0.5s; 
  background-color: rgb(115, 164, 197);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #button-address-next {
    font-size: 1em;
  }
}
  




/* Calculator Page */


.rectangle {

  margin: 0px 63px 73.5px;
  padding: 40px 36px 30px 30px;
  opacity: 0.94;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
}

@media  screen and (max-width: 600px) {
  .rectangle {
    width: 80%;
   float: left;
   padding-bottom: 20px;
  }
  
}

.row {
  text-align: left;
  padding-left: 0px;
}

.column {
  position: relative;
  float: left;
  width: 50%;
}

@media screen and (max-width: 800px) {
 .column, input[type=submit] {
     width: 50%;
     margin-top: 0;
     margin-left: 0;
   }
 }

 @media screen and (max-width: 700px) {
  .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
 margin-left: 0;
    }
  }
 


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  

  }
}

@media screen and (max-width: 700px) {
.column, input[type=submit] {
    width: 100%;
    margin-top: 0;
    float: left;
}
}

.subheader h3 {
  width: 251px;
  margin: 0 30px 3px 0;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

.select-section {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: inherit;
}

#div-form-rooftop {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.input-form {
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  border-radius: 3px;
  border-color:1px black;
}

#checkbox-canopies {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#checkbox-chargers {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#checkbox-rooftop {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

label {
  word-wrap: break-word;
}


* {
  box-sizing: border-box;
}

.inner-column1 {
  display: flex;
  flex-flow: column;
  float: left;
  width: 200px;
  padding: 10px 5px 0px 5px;
}




  @media screen and (max-width:800px) {
    .inner-column1 {
  width: 100%;
padding-right: 130px;
    } 
    }

.inner-column2 {
  display: flex;
  flex-flow: column;
  float: left;
  width: 200px;
  padding: 10px 5px 0px 5px;
}

@media screen and (max-width: 800px) {
  .inner-column2 {
    display: none;
  } 
  }

.inner-column3 {
  display: flex;
  flex-flow: column;
  float: left;
  width: 200px;
  padding: 10px 5px 0px 5px;
}

.inner-column4 {
  display: flex;
  flex-flow: column;
  float: left;
  width: 200px;
  padding: 10px 5px 0px 5px;
}

@media screen and (max-width: 1010px) {
.inner-column3, .inner-column4 {
  display: none;
  } 
}

/* Clearfix (clear floats) */
.row2::after {
  display: flex;
  -ms-flex-flow: column;
  content: "";
  clear: both;
  display: table;
}

#label {
width: 500px;
}

.subheader {
  font-size: 1em;
}

.subheader1 {
  width: 251px;
  margin: 0 30px 3px 0;
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .subheader1 h3 {
   
    font-size: 18px;
  }
}
  
#output-savings, #output-25years, #output-carbon, #output-cost, #output-tax-total, #output-netcost, #output-pvsize {
  background-color: #f0f0f0;
  font-size: 16px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px;
}


@media screen and (max-width: 800px) {
  #label {
    font-size: 15px;

  }
}
  

.row2 {
  text-align: left; 
}


.small-column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 700px) {
  .small-column {
    width: 100%;

  }
}

#button-print {
  background-color: lavender;
width: 100%;
display: inline-block;
text-transform: uppercase;
color:rgb(0, 0, 0);
padding: 6px 10px 6px 10px;
font-size: 1.3vw;
margin-top: 20px;
margin-bottom: 5px;
border-radius: 4px;
border: 1px;
}

#button-print:hover {
  transition-duration: 0.5s; 
  background-color: rgb(115, 164, 197);
  color: white;
  cursor: pointer;
}


#button-email {
  background-color: lavender;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  color:rgb(0, 0, 0);
  padding: 6px 10px 6px 10px;
  font-size: 1.3vw;
  margin-top: 20px;
  margin-bottom: 5px;
  border: 1px;
  border-radius: 4px;
}
#button-email:hover {
  transition-duration: 0.5s; 
  background-color: rgb(115, 164, 197);
  border-radius: 4px;
  padding: 6px 20px 6px 20px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .button-email {
    width: 100%;
    margin-left: 70px

  }
}

@media screen and (max-width: 600px) {
  .button-email {
    width: 100%;
    margin-left: -75px

  }
}

@media screen and (max-width: 400px) {
  .button-email {
    width: 100%;
    margin-left: 0px

  }
}


@media screen and (max-width: 800px) {
  .button-print {
    width: 100%;
    margin-left: 55px;

  }
}

@media screen and (max-width: 600px) {
  .button-print {
    width: 100%;
    margin-left: 0px;

  }
}


@media screen and (max-width: 400px) {
  .button-print {
    
    margin-left: 0px;

  }
}


.p-thanks {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
}


h4 {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.37px;
  color: rgb(0, 48, 80);
}


#error-message {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 187, 0);
}



/* Contact Page */


.rectangle2 {
  height: auto;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  opacity: 0.7;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
}

.rectangle2, h7 {
  color: black;
  font-size: 1.3vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  word-wrap: break-word;
}


@media screen and (max-width:800px) {
  .rectangle2, h7 {
    font-size: 1em;
    
  }
}

@media screen and (max-width:800px) {
  .rectangle2 {
    float: left;
    width: 400px;
    
  }
}

@media screen and (max-width:600px) {
  .rectangle2 {
    margin-left: 100px;
    width: 300px;
    padding-bottom: 10px;
    
  }
}


@media screen and (max-width:600px) {
  .rectangle2 h7 {
    font-size: 1.5em;

  }
}


@media screen and (max-width:500px) {
  .rectangle2 {
    padding-bottom: 100px;
    font-size: 1.5em;
    margin-left: 30px;

  }
}


.contact-content{
  position: relative;
  float: center;
  background-color:#ffffff;
    text-align:center;
    padding-bottom:10px;
    margin-left:30vw;
    margin-right:30vw;
    border-radius: 4px;
    opacity: 0.7;
    top: -30px;
}

.logo {
float: center;
max-height: 60px;
padding: 0px;
}

.contact-content h5{
 line-height: 1.4em;
}


a:-webkit-any-link {
   text-decoration: none!important;
   color: black;
 }

 a:-webkit-any-link:hover {
   color: rgb(115, 164, 197);
   cursor: pointer;
 }


 @media screen and (max-width:1200px) {
   .contact-content {
     margin-top:300px;
     float: center;
   }
 }

 @media screen and (max-width:800px) {
  .contact-content {
    width: 40%;
    margin-top:300px;
    margin-left: 260px;

  }
}

@media screen and (max-width:500px) {
  .contact-content {
    width: 100%;
    margin-top:400px;
    margin-left: 0px;
  }
}

 .renewvia-logo {
  opacity:1;
max-height: 40px;
float: left;
padding: 0px;
}

@media screen and (max-width:500px) {
  .renewvia-logo {
    width: 10px;
    height: 10px;
    margin-top:0px;
    padding-top: 0px;
    margin-left: 150px;

  }
}


.footer-section {

  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  width: 100vw;
  height: auto;
  padding-top: 10px;

}
